#!/usr/bin/git
#
# gitignore : 
#             What files and extension we mustn't submit to github
#
# Copyright © Noé Perard-Gayot 2020.                                                                                        #
# Licensed under the MIT License. You may obtain a copy of the License at https://opensource.org/licenses/mit-license.php   #
#

# any code related folders and data :
.vscode
*.code-workspace
*.o
*.obj
*.a
*.os
*.dll
*.so
__pycache__
*.pyc


