#!/usr/bin/git
#
# gitignore : 
#             What files and extension we mustn't submit to github
#
# Copyright © Noé Perard-Gayot 2020.                                                                                        #
# Licensed under the MIT License. You may obtain a copy of the License at https://opensource.org/licenses/mit-license.php   #
#

# IDE stuff
.vscode
*.code-workspace
.idea

# build it yourself, I'm not gonna give you output files
*.o
*.a
*.os

# Rust product
*.d
*/target/*

# nor shared object
*.dll
*.so

# python cache
__pycache__
*.pyc

# Godot
## import data, will be generated again
*/.import/*
*/.godot/*

## mono objects
*/.mono/*

# local blend files backup
*.blend1
*.blend2
