#!/usr/bin/git
#
# src/.gitignore : 
#             What files and extension we mustn't submit to github
#
# Copyright © Noé Perard-Gayot 2023.                                                                                        #
# Licensed under the MIT License. You may obtain a copy of the License at https://opensource.org/licenses/mit-license.php   #
#

# Godot-cpp
godot-cpp/

# scons product
*.dblite

# intermediates
*/build/*
*.o
*.a
*.os
*.obj

# binaries
*/bin/*
*.dll
*.so
*.exp
*.lib

# python cache
__pycache__
*.pyc